input[type=email], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: rgb(43, 107, 226);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    border-radius: 3px;
    
  }
  h2{
    /* margin-left: 15pc; */
    margin-top: 3pc;
    margin-bottom: 2pc;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .cancelbtn {
    width: auto;
    border-radius: 2px;
    padding: 10px 18px;
    background-color: rgb(255, 81, 0);
  }
  
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }

  
  .container {
    padding: 16px;
    margin-left: 24pc;
  }
  .center{
overflow-x: hidden;
  }
  
  span.psw {
 margin-right: 60pc;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
    span.psw {
      margin-right: 18pc;
       }
  }